$navbar-height: 64px;

$lightgrey: #fafafa;

$font-healine: 'Quicksand', sans-serif;
$font-subtext: 'Josefin Slab', serif;
$font-default: 'Noto Sans', sans-serif;


$break-small: 320px;
$break-medium: 768px;
$break-large: 1200px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide -screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}


body{
	margin: 0;
	font-family: $font-default;
}

ul {
	list-style: none;
  padding-left: 10px;
}

a {
	color: black;
}
a:hover {
	text-decoration: none;
}

input{
	&:focus {
    outline: none !important;
  }
}

.breadcrumb {
  background: none;
  margin-top: $navbar-height*2;
}

footer {
  margin-top: 20px
}

.container.fluid {
  padding: 0;
  margin: 0;
  max-width: 100% !important;
}

.flex-box {
  display: flex
}

.flex-wrap {
  flex-wrap: wrap
}