.product-grid{
	.image-wrapper {
		img {
			width: 100%
		}
	}
	.product-info {
		text-align: center;
    margin-top: -35px;
		span {
			font-size: 1.1em
		}
	}
}

.product-detail{

	.product-info {
		.row {
			margin: 10px 0;
		}
		.name {
			font-size: 3em;
		}
		.price {
			font-size: 2.5em;
		}



		.tab-content {
			ul {
				padding: 20px 0 20px 20px;
    		list-style-type: circle;
			}
			p {
		    padding: 20px 0;
			}
		}
	}
	.product-image {
		.image-slide {
			z-index: 100;
			height: 500px;
			background-image: url('http://cdn.shopify.com/s/files/1/0236/9929/products/StLouis-MatteBlack-Website-Front_1024x1024.png?v=1480979437');
			background-position: center;
			background-size: 100% auto;
			background-repeat: no-repeat;
		}
	}
}

.add-cart {
	input {
		width: 100%;
		color: #FD3F7B;
		border: 2px solid #FD3F7B;
		border-radius: 15px;
		text-align: center;
		padding: 5px 10px;
		/* transition:  all 0.5s ease;   */
	}
	button {
    overflow: hidden;
    background-color: #fff;
		width: 105px;
		height: 34px;
    color: #FD3F7B;
    border: 2px solid #FD3F7B;
    padding: 4px 10px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    /* transition: all 0.8s ease; */

	}
}

#product-review-tab{
	.review{	
		.dv-star-rating {
			display: inline-block;
	    position: relative;
	    top: -13px;
	    float: right;
		}
		.createdAt {
	    font-size: 10px;
	    float: left;
	    width: 40%;
		}
		.body{
	    width: 90%;
	    float: left;
	    p {
	    	padding: 5px;
    		font-size: 1.3rem;
	    }
		}
	}
	a.removeIcon {
		float: right;
	}
}
